<div class="col-md-12 top-20 padding-0">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <h3><%= t "subject.title_show_subject" %></h3>
      </div>
      <div class="panel-body">
        <div class="col-md-4">
          <ul class="timeline timeline-custom">
            <li class="timeline-inverted">
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4 class="timeline-title"><%= t "subject.member" %>
                    <span class="badge"><%= course.users.size %></span></a>
                  </h4>
                  <div class="timeline-body">
                    <% @trainer_in_course.each do |trainer| %>
                      <p>
                        <%= trainer.name %>
                      </p>
                    <% end %>
                    <%= paginate @trainer_in_course %>
                  </div>
                </div>
              </div>
            </li>
          </ul>
          <%= render "process_subject" %>
        </div>
        <div class="col-md-8">
          <% subjects.each do |subject, user_subject, course_subject| %>
            <ul class="timeline">
              <li class="timeline-inverted">
                <div class="timeline-badge warning">
                  <i class="btn btn-<%= show_status_subject course_subject %> btn-circle btn-lg"></i>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <% if course.started? %>
                    <h4 class="timeline-title"><%= link_to subject.name,
                      user_course_user_subject_path(@user_course,user_subject) %>
                    </h4>
                    <% else %>
                      <h4 class="timeline-title"><%= subject.name %>
                      </h4>
                    <% end %>
                    <hr>
                    <div class="timeline-body">
                      <p><%= subject.description %>.</p>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
