<header id="navigation" class="navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
        data-target=".navbar-collapse">
        <span class="sr-only"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <h1 class="navbar-brand">
        <%= link_to image_tag("logo.png"), root_path %>
      </h1>
    </div>
    <nav class="collapse navigation navbar-collapse navbar-right"
      role="navigation">
      <ul id="nav" class="nav navbar-nav">
        <% if user_signed_in? %>
          <li>
            <%= link_to root_path do %>
              <i class="fa fa-home" aria-hidden="true"></i>
              <%= t ".menu_home" %>
            <% end %>
          </li>
          <li>
            <%= link_to user_courses_path do %>
              <i class="fa fa-mortar-board" aria-hidden="true"></i>
              <%= t ".menu_courses" %>
            <% end %>
          </li>
          <li class="menu_notifications">
            <%= link_to "#", data: {toggle: "dropdown"},
              aria: {haspopup: "true", expanded: "true"} do %>
              <i class="fa fa-bell" aria-hidden="true"></i>
              <%= t ".menu_notifications" %>
            <% end %>
            <ul class="dropdown-menu mega-dropdown-menu noti-custom">
              <li class="external">
                  <h3><%= t ".menu_notifications" %></h3>
                  <%= link_to t(".view_all"), "#" %>
              </li>
              <li>
                <ul class="dropdown-menu-list scroller"
                  data-handle-color="#637283">
                  <li>
                    <%= link_to "#" do %>
                      <span class="photo">
                        <%= image_tag "avatar.png", class: "img-circle" %>
                      </span>
                      <span class="subject">
                        <span class="time"><%= t ".time_now" %></span>
                      </span>
                      <span class="message"><%= t ".message" %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#" do %>
                      <span class="photo">
                        <%= image_tag "avatar.png", class: "img-circle" %>
                      </span>
                      <span class="subject">
                        <span class="time"><%= t ".time_now" %></span>
                      </span>
                      <span class="message"><%= t ".message" %></span>
                    <% end %>
                  </li>
                  <li>
                    <%= link_to "#" do %>
                      <span class="photo">
                        <%= image_tag "avatar.png", class: "img-circle" %>
                      </span>
                      <span class="subject">
                        <span class="time"><%= t ".time_now" %></span>
                      </span>
                      <span class="message"><%= t ".message" %></span>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown avatar-dropdown">
            <%= image_tag current_user.avatar_url.url,
              class: "img-circle avatar image-avatar-small",
              data: {toggle: "dropdown"},
              aria: {haspopup: "true", expanded: "true"} %>
            <span class="nav-name"><%= current_user.name %></span>
            <ul class="dropdown-menu dropdown-menu-custom">
              <% if !current_user.trainee? %>
                <li>
                  <%= link_to t(".admin_section"), admin_root_path %>
                </li>
              <% end %>
              <li>
                <%= link_to t(".account_profile"), user_path(current_user) %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to t(".account_logout"), destroy_user_session_path,
                  method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              <%= t ".menu_signin" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
